* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; }

#sectDesigners,
#sectContact,
#secStatistics {
  display: none; }

.header-bar {
  background-color: #FFFFFF;
  overflow: auto;
  padding: 0.5em 1em; }
  .header-bar button {
    outline: none; }

.logo {
  padding: 8% 0;
  float: left;
  clear: both; }

.menu-btn {
  background-color: #FFFFFF;
  border: #FFFFFF;
  font-weight: 300;
  font-size: 0.7em;
  padding: 3%;
  text-transform: uppercase;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center; }

.menu {
  display: none;
  background-color: #FFFFFF;
  font-weight: 700;
  font-size: 0.6em;
  float: right;
  clear: both;
  list-style: none;
  height: 100vh;
  width: 100%; }

.menu-item {
  text-transform: uppercase;
  padding: 1em;
  font-size: 1.25em; }

.scroll-up {
  padding: 0.2em 0.6em;
  color: #FFFFFF;
  background-color: #000000;
  border: none;
  border-radius: 36px;
  font-size: 1em;
  margin-bottom: 2.5em;
  margin-right: 1.7em;
  float: right; }

.banner {
  height: 100vh;
  width: 100vw; }

.main-image {
  height: 100vh;
  background-image: url("../img/mainImage.png");
  background-position: center;
  background-size: cover; }

.transparent-layer {
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: .5; }

.banner-content {
  text-align: center;
  position: absolute;
  top: 48%;
  right: 8%;
  width: 80%; }

.banner-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 1.3em; }

.banner-text {
  color: #CCCCCC;
  font-size: 0.67em; }

.scroll-down {
  background-color: #000000;
  border: none;
  padding: 1em 4em;
  margin-top: 0.9em;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 0.7em; }

.second-heading {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
  font-size: 1.5em; }

.title-hr {
  color: #000000;
  background-color: #000000;
  border: 0;
  width: 90%;
  height: 2px;
  margin: 0.3em 0; }

.our-goal {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  height: 380px; }

.body-text {
  margin: 1em 0;
  font-size: 0.8em; }

.third-heading {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.25em;
  margin-top: 0.6em;
  margin-bottom: 1.3em; }

.project-img {
  height: 250px;
  width: 250px;
  background-color: #000000;
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/1400/5a0ecf51928569.58fef7802efd7.jpg");
  background-size: cover;
  background-position: center; }

.latest-projects {
  margin: 1em 0; }

.project-indiviudal {
  margin: 0 auto; }

#sectContact {
  margin-top: 18%; }
  #sectContact .contact-wrapper {
    width: 80vw;
    height: 350px;
    padding-top: 50px;
    margin: 0 auto; }
    #sectContact .contact-wrapper .contact {
      width: 100%; }
      #sectContact .contact-wrapper .contact h2 {
        font-family: "Open Sans", sans-serif;
        font-weight: 800;
        text-transform: uppercase; }
      #sectContact .contact-wrapper .contact hr {
        display: block;
        margin-top: 5px;
        border: none;
        height: 2px;
        background-color: black; }
    #sectContact .contact-wrapper .contact-details {
      width: 100%;
      height: 100%;
      margin-top: 10%; }
      #sectContact .contact-wrapper .contact-details #contactInfoP {
        line-height: 1.3; }
      #sectContact .contact-wrapper .contact-details .contact-icons {
        margin-top: 10%; }
        #sectContact .contact-wrapper .contact-details .contact-icons ul {
          list-style: none; }
          #sectContact .contact-wrapper .contact-details .contact-icons ul li {
            display: inline-block; }
            #sectContact .contact-wrapper .contact-details .contact-icons ul li i {
              font-size: 1.5em;
              margin-right: 0.6em;
              color: #FF0000; }
            #sectContact .contact-wrapper .contact-details .contact-icons ul li .fa-facebook {
              margin-left: 0; }
  #sectContact .contact-map {
    width: 100%;
    height: 200px;
    display: none;
    position: absolute;
    bottom: 0; }

#secStatistics {
  width: 87vw;
  margin: 0 auto;
  margin-top: 10%; }
  #secStatistics .close-icon i {
    font-size: 45px; }
  #secStatistics .stat {
    margin-top: 8%; }
    #secStatistics .stat hr {
      width: 100%; }
    #secStatistics .stat .designer-charts {
      margin: auto;
      margin-top: 13%;
      width: 300px;
      height: 400px;
      background-color: #FF0000; }

@media only screen and (min-width: 600px) {
  .contact-wrapper {
    width: 70vw;
    display: flex; }
    .contact-wrapper .contact {
      width: 50%;
      height: 100%; }
    .contact-wrapper .contact-details {
      width: 52%;
      padding-left: 30px; }
      .contact-wrapper .contact-details i {
        margin: 0px 4px !important; }

  #secStatistics {
    width: 75vw; }
    #secStatistics .designer-charts {
      width: 100%; } }
@media only screen and (min-width: 1024px) {
  .menu {
    width: 33%; }

  #sectContact {
    background-color: #000000; }
    #sectContact .contact-wrapper {
      color: #FFFFFF; }
    #sectContact hr {
      background-color: #FFFFFF !important; }
    #sectContact i {
      color: #FFFFFF !important; }

  #secStatistics {
    width: 75vw; }
    #secStatistics .designer-charts {
      width: 100%; } }

/*# sourceMappingURL=master.css.map */
