$primaryColor: #FFFFFF;
$secondaryColor: #000000;
$tertiaryColor: #FF0000;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.header-bar {
    background-color: $primaryColor;
    overflow: auto;
    padding: 0.5em 1em;
}

.logo {
    padding: 8% 0;
    float: left;
    clear: both;
}

.menu-btn {
    background-color: $primaryColor;
    border: $primaryColor;
    font-weight: 300;
    padding: 4%;
    text-transform: uppercase;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    display: none;
    background-color: white;
    font-weight: 700;
    float: right;
    clear:both;
    list-style: none;
    width: 100%;
}

.menu-item {
    text-transform: uppercase;
    padding: 1em;
}

.btnMenuClicked {
    display: block;
}

.banner {
    height: 100vh;
    width: 100vw;
}


.main-image {
    height: 100vh;
    background-image: url("../img/mainImage.png");
    background-position: center;
    background-size: cover;
}

.transparent-layer {
    width: 100%;
    height: 100%;
    background-color: $secondaryColor;
    opacity: .5;
}

.banner-content {
    position: absolute;
    top: 48%;
    right: 8%;
    width: 80%;
}

.banner-title {
    color: $primaryColor;
    font-size: 1.7em;
    text-transform: uppercase;
}

.banner-text {
    color: #CCCCCC;
    font-size: 0.8em;
}

.second-heading {
    text-transform: uppercase;
    margin-top: 0.8em;
    font-size: 1.9em;
    font-weight: 600;
    font-family: 'Open-Sans', sans-serif;
}

.title-hr {
    color: $secondaryColor;
    background-color: $secondaryColor;
    border: 0;
    width: 90%;
    height: 5px;
}

.space {
    margin: 0 2em;
}

.ours-goals {
    margin-top: 1em;
    margin-bottom: 1em;
}

.goals-text {
    margin: 1em 0;
    font-size: 0.8em;
}
