* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box; }

.contact-wrapper {
  width: 70vw;
  height: 350px;
  margin-top: 12%;
  display: flex;
  .contact {
	width: 50%;
	height: 100%;
	hr {
	  display: block;
	  margin-top: 5px;
	  border: none;
	  height: 2px;
	  background-color: black;
	}
  }
  .contact-details {
    width: 50%;
    height: 100%;
    margin-top: 10%;
    padding-left: 30px;
		#contactInfoP {
		  line-height: 1.3;
	  }

	  .contact-icons {
	    margin-top: 10%;
	    i {
	  	font-size: 35px;
	  	margin: 0px 4px;
	  	color: red; }
	   	}
 	}
}


.contact-map {
  position: absolute;
  bottom: 0; }
