@import 'master.scss';

#profileSplitTop {
	height: 17%;
}

#profileSplitCenter {
	height: 41%;
}

#profileSplitBottom {
	height: 42%;
}

.designer-profile {
	height: 300px;
	background-color: black;
}

.profile-details {
	top: 0;
	z-index: 3;
}

.profile-bg-image {
	background-position: center;
	background-size: cover;
	z-index: 1;
	@include blur(2px);
	@include scale(1.1);
}

.splitv-third {
	background: transparent;
	z-index: 2;
}

.profile-image {
	width: 40%;
	padding-top: 40%;
	border-radius: 70px;
	background-position: center;
	background-size: cover;
	@include grayscale(100%);
}

.scroll-left {
	padding: 0.1em 0.6em;
	color: $primaryColor;
	background-color: $secondaryColor;
	border: none;
	border-radius: 36px;
	font-size: 1em;
	margin-top: 1.5em;
	margin-left: 1.5em;
}
