@import 'master.scss';

#profileSplitTop {
	height: 17%;
}

#profileSplitCenter {
	height: 61%;
}

#profileSplitBottom {
	height: 22%;

	div {
		padding: 5px;
	}
	i {
		font-size: 1.3em;
	}
	span {
		font-size: .9em;
	}
}

.designer-profile {
	height: 300px;
	background-color: black;
}

.profile-details {
	top: 0;
	z-index: 3;
}

.profile-bg-image {
	background-position: center;
	background-size: cover;
	z-index: 1;
	@include blur(2px);
	@include scale(1.1);
}

.splitv-third {
	background: transparent;
	z-index: 2;
}

.splith-third {
	width: 33%;
	background: transparent;
}

.profile-image {
	width: 40%;
	padding-top: 40%;
	border-radius: 70px;
	background-position: center;
	background-size: cover;
	@include grayscale(100%);
}

.profile-name {
	@include heading();
	margin-top: 5px;
	margin-bottom: 0;
	font-size: 1.4em;
	i {
		margin-left: 5px;
	}
}

.profile-fields {
	font-family: $mainFontFamily;
	font-size: .9em;
}

.profile-views {
	border-right: 2px solid black;
}

.profile-appreciations {}

.profile-comments {
	border-left: 2px solid black;
}

.scroll-left {
	padding: .1em .6em;
	color: $primaryColor;
	background-color: $secondaryColor;
	border: none;
	border-radius: 36px;
	font-size: 1em;
	margin-top: 1.5em;
	margin-left: 1.5em;
}

.statsRibbon {
	right: 10%;
	background-color: #ff0d00;
	height: 37%;
	width: 15%;
	color: white;
	z-index: 4;

	i {
		font-size: 1.5em;
	}

	span {
		font-size: .6875em;
		width: 80%;
		text-align: center;
		text-transform: uppercase;
		font-family: $mainFontFamily;
		font-weight: 300;
	}
}

//////Jiah/////////////////
#listOfDesigners {
	position: absolute;
	z-index: 10;
	background-color: white;
	width: 100vw;
	ul {
		text-align: center;
		li {
			font-family: $mainFontFamily;
		}
		li:hover {
			background-color: black;
			color:$primaryColor;
		}
	}
}
