@import 'master.scss';

.designer-profile {
	height: 300px;
	background-color: black;
}

.profile-image {
	width: 33%;
	padding-top: 33%;
	border-radius: 60px;
	background-position: center;
	background-size: cover;
}

.splitv-third {
	height: 33%;
}

.scroll-left {
	padding: 0.2em 0.6em;
	color: $primaryColor;
	background-color: $secondaryColor;
	border: none;
	border-radius: 36px;
	font-size: 1em;
	margin-top: 0.5em;
	margin-left: 0.7em;
}
