@import '_variables.scss';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

#sectDesigners,
#sectContact,
#sectStatistics {
	display: none;
}

button {
	outline: none;
}
// MENU ------------------------------------------------------------------------

.header-bar {
	width: 100%;
	background-color: $primaryColor;
	overflow: auto;
	padding: 0.5em 1em;
	button {
		outline: none;
	}
}

.logo {
	padding: 8% 0;
	float: left;
	clear: both;
}

.contact-icons-list {
	display: none;
}

.menu-btn {
	background-color: $primaryColor;
	border: $primaryColor;
	font-weight: 300;
	font-size: 0.7em;
	padding: 3%;
	text-transform: uppercase;
	float: right;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menu {
	display: none;
	background-color: $primaryColor;
	font-weight: 700;
	font-size: 0.6em;
	float: right;
	clear: both;
	list-style: none;
	height: 100vh;
	width: 100%;
}

.menu-item {
	text-transform: uppercase;
	padding: 1em;
	font-size: 1.25em;
}

// HOME SCREEN -----------------------------------------------------------------

.scroll-up {
	padding: 0.2em 0.6em;
	color: $primaryColor;
	background-color: $secondaryColor;
	border: none;
	border-radius: 36px;
	font-size: 1em;

	margin-bottom: 2.5em;
	margin-right: 1.7em;
	float: right;
}

.banner {
	height: 100vh;
	width: 100%;
}

.bg-video-wrapper {
	width: 100%;
	height: 100vh;
}

.background-video {
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
}

.transparent-layer {
	position: absolute;
	object-fit: cover;
    top: 0;
	width: 100%;
	height: 100%;
	background-color: $secondaryColor;
	opacity: .5;
}

.banner-content {
    text-align: center;
    position: absolute;
    top: 48%;
    right: 8%;
    width: 80%;
}

.banner-title {
	@include heading;
	color: $primaryColor;
    font-size: 1.3em;
}

.banner-text {
	color: #CCCCCC;
	font-size: 0.67em;
	text-transform: uppercase;
}

.scroll-down {
	display: block;
	width: 16.6em;
	margin-right: auto;
	margin-left: auto;
    background-color: $secondaryColor;
    border: none;
    padding: 1em 4em;
    margin-top: 0.9em;
    color: $primaryColor !important;
    text-transform: uppercase;
    font-size: 0.7em;
}

.second-heading {
	@include heading;
	margin: 0;
	font-size: 1.5em;
}

.title-hr {
	color: $secondaryColor;
	background-color: $secondaryColor;
	border: 0;
	width: 90%;
	height: 2px;
    margin: 0.3em 0;
}

.our-goal {
	padding: 0 15px;
	display: flex;
	align-content: center;
	flex-direction: column;
	justify-content: center;
	height: 380px;
}

.our-goal-container {
	padding: 0;
}

.body-text {
	margin: 1em 0;
	font-size: 0.8em;
}

.third-heading {
	@include heading;
	font-size: 1.25em;
	margin-top: 0.6em;
    margin-bottom: 1.3em;
}

.project-img {
	@include projectLayout
}

.behance-logo {
	text-align: center;
	margin-bottom: 2em;
}

// DESIGNERS -------------------------------------------------------------------

.latest-projects {
    margin: 1em 0;
}

.project-indiviudal{
    margin: 0 auto;
}

//CONTACTS ---------------------------------------------------------------------

#sectContact {
	margin-top: 5em;
	.contact-wrapper {
		width: 80vw;
		height: 50vh;
		padding-top: 50px;
		margin: 0 auto;
	  	.contact {
			width: 100%;
			h2 {
				@include heading;
			}
			hr {
			  display: block;
			  margin-top: 5px;
			  border: none;
			  height: 2px;
			  background-color: black;
			}
	  	}
	  	.contact-details {
		    width: 100%;
		    height: 100%;
		    margin-top: 10%;
			#contactInfoP {
				line-height: 1.3;
		  	}

		  	.contact-icons {
			    margin-top: 10%;
				ul {
					list-style: none;
					li {
						display: inline-block;
						i {
							font-size: 1.5em;
							margin-right: 0.6em;
							color: $tertiaryColor;
						}
						.fa-facebook {
							margin-left: 0;
						}
					}
				}
		   	}
	 	}
	}
	.contact-map {
		width: 100vw;
		height: 40vh;
		position: absolute;
		-webkit-filter: grayscale(96%);
		filter: grayscale(96%);
		.google-map-div {
			height: 100%;
			width: 100%;
		}

	}

}

// STATSTICS -------------------------------------------------------------------

.sect-statistics{
	margin: 0 auto;
	margin-top: 10%;

	.container {
		margin-top: 2em;
	}

	.close-btn {
		border: none;
		background-color: transparent;
	}

	.stats-heading {
		margin-bottom: 0.6em;
		margin-top: 1.6em;
	}

		.chart-stats {
			margin: auto;
			margin-top: 13%;
			width: 91vw;
			height: 75vw;
		}


}

@media only screen and (min-width: 600px) {

	.header-bar {
		height: 90px;
		.logo {
			padding: 1.7em 0;
		}

		.nav-items-right {
			float: right;
		}

		.contact-icons-list {
			display: block;
			float: left;
			padding: 1.2em;
			margin-bottom: 0;
			list-style: none;
			.inline-icons {
				display: inline-block;
				.social-link{
					background-color: $secondaryColor;
				    border-radius: 28px;
					margin: 0.3em;
				    padding: 0.1em;
				}
				i {
					font-size: 0.8em;
					color: $primaryColor;
					margin: 0.2em;
					padding: 0.6em 0.45em;
				}
				.youtube-icon {
					font-size: 0.7em;
				}
				.linkedin-icon {
					font-size: 0.7em;
				}
			}
		}

		.menu-btn {
			padding: 1.2em;
		}
	}

	.menu {
		width: 40%;
		font-size: 0.77em;
		.menu-item {
			padding: 1.9em 1em 0.8em;
			font-weight: 800;
		}
	}

	.scroll-up {
		margin-bottom: 3.5em;
    	margin-right: 3em;
	}

	.banner {
		.banner-title {
			font-size: 2.3em;
			font-weight: 700;
		}

		.banner-text {
			word-spacing: 36px;
		}

		.scroll-down {
			width: 20.6em;
			margin-top: 4.4em;
			font-size: 0.8em;
			padding: 1.4em 5.7em;
		}
	}

	.our-goal {
		margin-left: auto;
		margin-right: auto;
		max-width: 720px;

		.our-goal-text {
		 	margin-top: 4em;
			width: 370px;
		}
	}


	.latest-projects-hr {
		width: 40%;
	}

	.latest-projects {
		margin-top: 3em;
		.projects-individual {
			padding-right: 2.8em;
			padding-left: 2.8em;
		}
	}

    .contact-wrapper {
		width: 70vw;
		display: flex;
		.contact {
			width: 50%;
			height: 100%;
		}
		.contact-details {
			width: 52%;
			padding-left: 30px;
			i {
				margin: 0px 4px !important;
			}
		}
	}
	.contact-map {
		height: 42vh;
	}
	.sect-statistics {
		width: 75vw;
		.chart-stats {
			width: 70vw;
			height: 56vw;
		}
	}
}
@media only screen and (min-width: 1024px){

	.menu {
		width: 33%;
	}

	.header-bar {
		height: 90px;
		.logo {
			margin-left: 2em;
			padding: 1.6em 0;;
		}
		.menu-btn {
			padding: 1em;
		}
	}

	.our-goal {
		padding: 0 10em;
		margin-bottom: 7em;
		max-width: none;
		background-color: $secondaryColor;
		color: $primaryColor;
		.title-hr {
			color: $primaryColor;
			background-color: $primaryColor;

		}
	}

	.latest-projects {
		margin-bottom: 2em;
		.project-indiviudal {
			padding-left: 0;
		}
		.col-sm {
			width: 100px;
		}
	}

	#sectContact {
		margin-top: 9%;
		background-color: $secondaryColor;
		.contact-wrapper {
			color: $primaryColor;
		}
		hr {
			background-color: $primaryColor !important;
		}
		i {
			color: $primaryColor !important;
		}
	}
	.sect-statistics {
		width: 50vw;
		margin-top: 5em;
		.chart-stats {
			margin-top: 7%;
			width: 100%;
			height: 33vw
		}
	}

}
